main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  background: radial-gradient(#a20ae6, #590979);
  z-index: -10;
}

.landing {
  margin-top: 3rem;
}

.landing__title {
  font-size: 2.5rem;
}

.landing__text {
  font-size: 1.5rem;
  width: 15ch;
  max-width: 90%;
}

.landing__title,
.landing__text {
  margin-top: 1rem;
}

.landing__cta {
  margin-top: 2rem;
  font-size: 32px;
  text-align: center;
  width: 10ch;
}

.landing__title,
.landing__text,
.landing__cta {
  color: white;
}

.landing__links {
  width: 10ch;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  z-index: 10;
}

.landing__links i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#headshot {
  border-radius: 50%;
  box-shadow: 0 0 8px 4px rgba(219, 209, 209, 0.2);
  z-index: 10;
}
